{% load static %}
<!-- blog-->
<section class="container-fluid wrapper mb-5" aria-labelledby="blog-heading">
  <h2 class="fs-3 nt-fw-500 mb-4" id="blog-heading">برترین مطالب وبلاگ</h2>
  <div class="swiper pb-4"
       data-swiper-options="{ &quot;spaceBetween&quot;:20, &quot;breakpoints&quot;:{&quot;480&quot;:{&quot;slidesPerView&quot;:2}, &quot;640&quot;:{&quot;slidesPerView&quot;:4} } }"
       role="region" aria-roledescription="carousel" aria-label="اسلایدر برترین مطالب وبلاگ">

    <ul class="swiper-wrapper list-unstyled" role="list">

      <!-- slide-->
      <li class="swiper-slide h-auto" role="listitem" aria-roledescription="slide">
        <a class="h-100 btn btn-light bg-light-subtle flex-column p-4 rounded" href="">
          <div class="mb-4">
            <img class="rounded" src="{% static 'img/pages/index/blog/game.jpg' %}" alt=""/>
          </div>
          <div class="fs-4 nt-fw-bold lh-lg">گوگل لیست پرجست‌وجوترین بازی‌های سال ۲۰۲۴ را اعلام کرد</div>
        </a>
      </li>

      <!-- slide-->
      <li class="swiper-slide h-auto" role="listitem" aria-roledescription="slide">
        <a class="h-100 btn btn-light bg-light-subtle flex-column p-4 rounded" href="">
          <div class="mb-4">
            <img class="rounded" src="{% static 'img/pages/index/blog/award.jpg' %}" alt=""/>
          </div>
          <div class="fs-4 nt-fw-bold lh-lg">بررسی فصل صفر بازی Marvel Rivlas | بازیِ تقلید</div>
        </a>
      </li>

      <!-- slide-->
      <li class="swiper-slide h-auto" role="listitem" aria-roledescription="slide">
        <a class="h-100 btn btn-light bg-light-subtle flex-column p-4 rounded" href="">
          <div class="mb-4">
            <img class="rounded" src="{% static 'img/pages/index/blog/marvel.jpg' %}" alt=""/>
          </div>
          <div class="fs-4 nt-fw-bold lh-lg">برنده‌های گیم اواردز ۲۰۲۴ اعلام شدند؛ Astro Bot بهترین بازی سال</div>
        </a>
      </li>

      <!-- slide-->
      <li class="swiper-slide h-auto" role="listitem" aria-roledescription="slide">
        <a class="h-100 btn btn-light bg-light-subtle flex-column p-4 rounded" href="">
          <div class="mb-4">
            <img class="rounded" src="{% static 'img/pages/index/blog/nvidia.jpg' %}" alt=""/>
          </div>
          <div class="fs-4 nt-fw-bold lh-lg">این کارت گرافیک انویدیا تقلبی است؛ RTX 4010 وجود خارجی ندارد!</div>
        </a>
      </li>

      <!-- slide-->
      <li class="swiper-slide h-auto" role="listitem" aria-roledescription="slide">
        <a class="h-100 btn btn-light bg-light-subtle flex-column p-4 rounded" href="">
          <div class="mb-4">
            <img class="rounded" src="{% static 'img/pages/index/blog/game.jpg' %}" alt=""/>
          </div>
          <div class="fs-4 nt-fw-bold lh-lg">گوگل لیست پرجست‌وجوترین بازی‌های سال ۲۰۲۴ را اعلام کرد</div>
        </a>
      </li>

    </ul>
  </div>
</section>
