{% load static %}
<!-- buttonLinks-->
<section class="container-fluid wrapper mb-5" aria-labelledby="blinks-heading">
  <h2 class="visually-hidden" id="blinks-heading">پیوندهای شاخص</h2>
  <div class="row g-4 py-4">
    <!-- item-->
    <div class="col-12 col-md-6 col-lg-4">
      <a class="index-buttonLink btn btn-light" href="">
        <div class="nt-flex-column">
          <div class="fs-4 nt-fw-bold mb-4">برترین های</div>
          <div class="nt-flex-start-center mb-3">
            <i class="ti ti-caret-left-filled fs-3 text-primary" aria-hidden="true"></i>
            <div class="fs-2">موبایل</div>
          </div>
          <div class="nt-flex-start-center">
            <div class="btn btn-lg btn-primary rounded-5" style="border-top-right-radius: 0 !important">
              <div class="fs-6">خرید</div>
              <i class="ti ti-arrow-left fs-5" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <img src="{% static 'img/pages/index/card/phone.png' %}" alt="" width="125" loading="lazy" decoding="async"/>
      </a>
    </div>

    <!-- item-->
    <div class="col-12 col-md-6 col-lg-4">
      <a class="index-buttonLink btn btn-light" href="">
        <div class="nt-flex-column">
          <div class="fs-4 nt-fw-bold mb-4">برترین های</div>
          <div class="nt-flex-start-center mb-3">
            <i class="ti ti-caret-left-filled fs-3 text-primary" aria-hidden="true"></i>
            <div class="fs-2">تبلت</div>
          </div>
          <div class="nt-flex-start-center">
            <div class="btn btn-lg btn-primary rounded-5" style="border-top-right-radius: 0 !important">
              <div class="fs-6">خرید</div>
              <i class="ti ti-arrow-left fs-5" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <img src="{% static 'img/pages/index/card/tablet.png' %}" alt="" width="125" loading="lazy" decoding="async"/>
      </a>
    </div>

    <!-- item-->
    <div class="col-12 col-md-6 col-lg-4">
      <a class="index-buttonLink btn btn-light" href="">
        <div class="nt-flex-column">
          <div class="fs-4 nt-fw-bold mb-4">برترین های</div>
          <div class="nt-flex-start-center mb-3">
            <i class="ti ti-caret-left-filled fs-3 text-primary" aria-hidden="true"></i>
            <div class="fs-2">لپ‌تاپ</div>
          </div>
          <div class="nt-flex-start-center">
            <div class="btn btn-lg btn-primary rounded-5" style="border-top-right-radius: 0 !important">
              <div class="fs-6">خرید</div>
              <i class="ti ti-arrow-left fs-5" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <img src="{% static 'img/pages/index/card/laptop.png' %}" alt="" width="125" loading="lazy" decoding="async"/>
      </a>
    </div>

    <!-- item-->
    <div class="col-12 col-md-6">
      <a class="index-buttonLink btn btn-light" href="">
        <div class="nt-flex-column">
          <div class="fs-4 nt-fw-bold mb-4">برترین های</div>
          <div class="nt-flex-start-center mb-3">
            <i class="ti ti-caret-left-filled fs-3 text-primary" aria-hidden="true"></i>
            <div class="fs-2">عینک واقعیت مجازی</div>
          </div>
          <div class="nt-flex-start-center">
            <div class="btn btn-lg btn-primary rounded-5" style="border-top-right-radius: 0 !important">
              <div class="fs-6">خرید</div>
              <i class="ti ti-arrow-left fs-5" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <img src="{% static 'img/pages/index/card/meta.png' %}" alt="" width="200" loading="lazy" decoding="async"/>
      </a>
    </div>

    <!-- item-->
    <div class="col-12 col-md-6">
      <a class="index-buttonLink btn btn-light" href="">
        <div class="nt-flex-column">
          <div class="fs-4 nt-fw-bold mb-4">برترین های</div>
          <div class="nt-flex-start-center mb-3">
            <i class="ti ti-caret-left-filled fs-3 text-primary" aria-hidden="true"></i>
            <div class="fs-2">کنسول بازی</div>
          </div>
          <div class="nt-flex-start-center">
            <div class="btn btn-lg btn-primary rounded-5" style="border-top-right-radius: 0 !important">
              <div class="fs-6">خرید</div>
              <i class="ti ti-arrow-left fs-5" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <img src="{% static 'img/pages/index/card/console.png' %}" alt="" width="125" loading="lazy" decoding="async"/>
      </a>
    </div>
  </div>
</section>
