{% load static %}
<!-- categories slider-->
<section class="container-fluid wrapper mb-5" aria-labelledby="cats-heading">
  <h2 class="visually-hidden" id="cats-heading">دسته‌بندی‌ها</h2>
  <div class="swiper py-5 px-1" 
       data-swiper-options="{ &quot;loop&quot;:true, &quot;autoplay&quot;:{&quot;delay&quot;: 3000}, &quot;speed&quot;:1000, &quot;slidesPerView&quot;:1, &quot;spaceBetween&quot;:30, &quot;breakpoints&quot;:{ &quot;480&quot;:{&quot;slidesPerView&quot;:3},&quot;640&quot;:{&quot;slidesPerView&quot;:6},&quot;720&quot;:{&quot;slidesPerView&quot;:8} } }"
       role="region" aria-roledescription="carousel" aria-label="دسته‌بندی‌ها">
       
    <ul class="swiper-wrapper" role="list">
      <!-- slide-->
      <li class="swiper-slide h-auto" role="listitem" aria-roledescription="slide" aria-label="">
        <a class="h-100 link-body-emphasis nt-flex-column-center-center border bg-body rounded-5 p-3" href="">
          <img src="{% static 'img/pages/index/card/laptop.png' %}" alt="" width="100" loading="lazy" decoding="async"/>
          <div class="fs-4 nt-fw-500">لپ‌تاپ</div>
          <div class="text-body-secondary">LapTop</div>
        </a>
      </li>
      <!-- slide-->
      <li class="swiper-slide h-auto" role="listitem" aria-roledescription="slide" aria-label="">
        <a class="h-100 link-body-emphasis nt-flex-column-center-center border bg-body rounded-5 p-3" href="">
          <img src="{% static 'img/pages/index/card/phone.png' %}" alt="" width="100" loading="lazy" decoding="async"/>
          <div class="fs-4 nt-fw-500">گوشی موبایل</div>
          <div class="text-body-secondary">Phone</div>
        </a>
      </li>
      <!-- slide-->
      <li class="swiper-slide h-auto" role="listitem" aria-roledescription="slide" aria-label="">
        <a class="h-100 link-body-emphasis nt-flex-column-center-center border bg-body rounded-5 p-3" href="">
          <img src="{% static 'img/pages/index/card/tablet.png' %}" alt="" width="100" loading="lazy" decoding="async"/>
          <div class="fs-4 nt-fw-500">تبلت</div>
          <div class="text-body-secondary">Tablet</div>
        </a>
      </li>
      <!-- slide-->
      <li class="swiper-slide h-auto" role="listitem" aria-roledescription="slide" aria-label="">
        <a class="h-100 link-body-emphasis nt-flex-column-center-center border bg-body rounded-5 p-3" href="">
          <img src="{% static 'img/pages/index/card/laptop.png' %}" alt="" width="100" loading="lazy" decoding="async"/>
          <div class="fs-4 nt-fw-500">لپ‌تاپ</div>
          <div class="text-body-secondary">LapTop</div>
        </a>
      </li>
      <!-- slide-->
      <li class="swiper-slide h-auto" role="listitem" aria-roledescription="slide" aria-label="">
        <a class="h-100 link-body-emphasis nt-flex-column-center-center border bg-body rounded-5 p-3" href="">
          <img src="{% static 'img/pages/index/card/console.png' %}" alt="" width="100" loading="lazy" decoding="async"/>
          <div class="fs-4 nt-fw-500">کنسول</div>
          <div class="text-body-secondary">Console</div>
        </a>
      </li>
      <!-- slide-->
      <li class="swiper-slide h-auto" role="listitem" aria-roledescription="slide" aria-label="">
        <a class="h-100 link-body-emphasis nt-flex-column-center-center border bg-body rounded-5 p-3" href="">
          <img src="{% static 'img/pages/index/card/meta.png' %}" alt="" width="100" loading="lazy" decoding="async"/>
          <div class="fs-4 nt-fw-500">واقعیت مجازی</div>
          <div class="text-body-secondary">VR headset</div>
        </a>
      </li>
      <!-- slide-->
      <li class="swiper-slide h-auto" role="listitem" aria-roledescription="slide" aria-label="">
        <a class="h-100 link-body-emphasis nt-flex-column-center-center border bg-body rounded-5 p-3" href="">
          <img src="{% static 'img/pages/index/card/phone.png' %}" alt="" width="100" loading="lazy" decoding="async"/>
          <div class="fs-4 nt-fw-500">گوشی موبایل</div>
          <div class="text-body-secondary">Phone</div>
        </a>
      </li>
      <!-- slide-->
      <li class="swiper-slide h-auto" role="listitem" aria-roledescription="slide" aria-label="">
        <a class="h-100 link-body-emphasis nt-flex-column-center-center border bg-body rounded-5 p-3" href="">
          <img src="{% static 'img/pages/index/card/tablet.png' %}" alt="" width="100" loading="lazy" decoding="async"/>
          <div class="fs-4 nt-fw-500">تبلت</div>
          <div class="text-body-secondary">Tablet</div>
        </a>
      </li>
      <!-- slide-->
      <li class="swiper-slide h-auto" role="listitem" aria-roledescription="slide" aria-label="">
        <a class="h-100 link-body-emphasis nt-flex-column-center-center border bg-body rounded-5 p-3" href="">
          <img src="{% static 'img/pages/index/card/console.png' %}" alt="" width="100" loading="lazy" decoding="async"/>
          <div class="fs-4 nt-fw-500">کنسول</div>
          <div class="text-body-secondary">Console</div>
        </a>
      </li>
      <!-- slide-->
      <li class="swiper-slide h-auto" role="listitem" aria-roledescription="slide" aria-label="">
        <a class="h-100 link-body-emphasis nt-flex-column-center-center border bg-body rounded-5 p-3" href="">
          <img src="{% static 'img/pages/index/card/meta.png' %}" alt="" width="100" loading="lazy" decoding="async"/>
          <div class="fs-4 nt-fw-500">واقعیت مجازی</div>
          <div class="text-body-secondary">VR headset</div>
        </a>
      </li>
    </ul>
  </div>
</section>
