<!-- cols-->
{% load static %}
<section class="container-fluid wrapper mb-5" aria-labelledby="offers-heading">
  <h2 class="visually-hidden" id="offers-heading">پیشنهادهای ویژه</h2>
  <div class="row g-4">
    <div class="col-12 col-md-6">
      <a href="">
        <img class="rounded-5" src="{% static 'img/pages/index/2cols/1.jpg' %}" alt="" loading="lazy" decoding="async">
      </a>
    </div>
    <div class="col-12 col-md-6">
      <a href="">
        <img class="rounded-5" src="{% static 'img/pages/index/2cols/2.jpg' %}" alt="" loading="lazy" decoding="async">
      </a>
    </div>
    <div class="col-6 col-md-3">
      <a href="">
        <img class="rounded-5" src="{% static 'img/pages/index/cards/1.jpg' %}" alt="" loading="lazy" decoding="async">
      </a>
    </div>
    <div class="col-6 col-md-3">
      <a href="">
        <img class="rounded-5" src="{% static 'img/pages/index/cards/2.jpg' %}" alt="" loading="lazy" decoding="async">
      </a>
    </div>
    <div class="col-6 col-md-3">
      <a href="">
        <img class="rounded-5" src="{% static 'img/pages/index/cards/3.jpg' %}" alt="" loading="lazy" decoding="async">
      </a>
    </div>
    <div class="col-6 col-md-3">
      <a href="">
        <img class="rounded-5" src="{% static 'img/pages/index/cards/4.jpg' %}" alt="" loading="lazy" decoding="async">
      </a>
    </div>
  </div>
</section>
