{#{% load static %}#}
{#<!-- hot sells-->#}
{#        <section class="container-fluid wrapper mb-5" aria-labelledby="hot-heading">#}
{#          <div class="index-offer py-4">#}
{#            <div class="index-offer-bg"></div>#}
{#            <header class="nt-flex gap-4 p-3"><i class="ti ti-percentage display-1 text-light" aria-hidden="true"></i>#}
{#              <div class="nt-flex-column gap-4">#}
{#                <h2 class="fs-2 nt-fw-500 text-light text-nowrap" id="hot-heading">پیشنهاد شگفت انگیز</h2>#}
{#                <div class="nt-flex-start-center flex-nowrap gap-1" id="countdown" dir="ltr" aria-live="polite"><span class="visually-hidden">زمان باقی‌مانده</span>#}
{#                  <!-- days-->#}
{#                  <time class="nt-flex-center-center rounded nt-fw-500 bg-light text-dark py-1" id="days" style="width: 2.5rem" datetime="P0DT0H0M0S"></time>#}
{#                  <div class="text-light fs-5 px-2">:</div>#}
{#                  <time class="nt-flex-center-center rounded nt-fw-500 bg-light text-dark py-1" id="hours" style="width: 2.5rem" datetime="PT0H"></time>#}
{#                  <div class="text-light fs-5 px-2">:</div>#}
{#                  <time class="nt-flex-center-center rounded nt-fw-500 bg-light text-dark py-1" id="minutes" style="width: 2.5rem" datetime="PT0M"></time>#}
{#                  <div class="text-light fs-5 px-2">:</div>#}
{#                  <time class="nt-flex-center-center rounded nt-fw-500 bg-light text-dark py-1" id="seconds" style="width: 2.5rem" datetime="PT0S"></time>#}
{#                </div>#}
{#              </div>#}
{#            </header>#}
{#            <div class="swiper px-5 py-5" data-swiper-options="{ &quot;freeMode&quot;:true, &quot;spaceBetween&quot;:15, &quot;slidesPerView&quot;:&quot;auto&quot; }" style="--swiper-theme-color: var(--bs-dark);" role="region" aria-roledescription="carousel" aria-label="محصولات پیشنهادی">#}
{#              <!-- wrapper-->#}
{#              <ul class="swiper-wrapper" role="list">#}
{#                <!-- slide-->#}
{#                <li class="swiper-slide h-auto" style="max-width:13rem" role="listitem"><a class="card h-100 rounded-4 px-2 py-4" href=""><img class="card-img-top" src=" ./img/pages/index/offers/1.jpg" alt=""/>#}
{#                    <div class="card-body">#}
{#                      <div class="card-title lh-lg nt-clamp-2">ماشین لباسشویی دوو مدل DWK-UN810C ظرفیت 8 کیلوگرم</div>#}
{#                      <div class="card-text"></div>#}
{#                    </div>#}
{#                    <div class="card-footer bg-transparent border-0">#}
{#                      <div class="nt-flex-between-center mb-2">#}
{#                        <div class="badge bg-danger text-light rounded-pill">۲۹٪</div>#}
{#                        <div class="nt-fw-500 text-body-tertiary nt-flex-start-center gap-1">#}
{#                          <div class="text-decoration-line-through">۱۶,۴۹۹,۰۰۰</div>#}
{#                          <div class="small">تومان</div>#}
{#                        </div>#}
{#                      </div>#}
{#                      <div class="nt-fw-bold" dir="ltr">#}
{#                        <div class="nt-flex-start-center gap-1">#}
{#                          <div class="small">تومان</div>#}
{#                          <div class="fs-5">۲۰,۴۰۰,۰۰۰</div>#}
{#                        </div>#}
{#                      </div>#}
{#                    </div></a></li>#}
{#                <!-- slide-->#}
{#                <li class="swiper-slide h-auto" style="max-width:13rem" role="listitem"><a class="card h-100 rounded-4 px-2 py-4" href=""><img class="card-img-top" src=" ./img/pages/index/offers/2.jpg" alt=""/>#}
{#                    <div class="card-body">#}
{#                      <div class="card-title lh-lg nt-clamp-2">جاروبرقی ایربات مدل L108S Pro Ultra</div>#}
{#                      <div class="card-text"></div>#}
{#                    </div>#}
{#                    <div class="card-footer bg-transparent border-0">#}
{#                      <div class="nt-flex-between-center mb-2">#}
{#                        <div class="badge bg-danger text-light rounded-pill">۲۴٪</div>#}
{#                        <div class="nt-fw-500 text-body-tertiary nt-flex-start-center gap-1">#}
{#                          <div class="text-decoration-line-through">۳۹,۹۹۹,۰۰۰</div>#}
{#                          <div class="small">تومان</div>#}
{#                        </div>#}
{#                      </div>#}
{#                      <div class="nt-fw-bold" dir="ltr">#}
{#                        <div class="nt-flex-start-center gap-1">#}
{#                          <div class="small">تومان</div>#}
{#                          <div class="fs-5">۵۲,۸۲۰,۳۴۰</div>#}
{#                        </div>#}
{#                      </div>#}
{#                    </div></a></li>#}
{#                <!-- slide-->#}
{#                <li class="swiper-slide h-auto" style="max-width:13rem" role="listitem"><a class="card h-100 rounded-4 px-2 py-4" href=""><img class="card-img-top" src="./img/pages/index/offers/3.jpg"/>#}
{#                    <div class="card-body">#}
{#                      <div class="card-title lh-lg nt-clamp-2">#}
{#                         ماشین ظرفشویی وست پوینت مدل WYG-15822.ES</div>#}
{#                      <div class="card-text"> </div>#}
{#                    </div>#}
{#                    <div class="card-footer bg-transparent border-0">#}
{#                      <div class="nt-flex-between-center mb-2">#}
{#                        <div class="badge bg-danger text-light rounded-pill">#}
{#                           ۱۵٪</div>#}
{#                        <div class="nt-fw-500 text-body-tertiary nt-flex-start-center gap-1">#}
{#                          <div class="text-decoration-line-through">#}
{#                             ۳۳,۹۹۹,۰۰۰</div>#}
{#                          <div class="small">#}
{#                             تومان</div>#}
{#                        </div>#}
{#                      </div>#}
{#                      <div class="nt-fw-bold" dir="ltr">#}
{#                        <div class="nt-flex-start-center gap-1">#}
{#                          <div class="small">تومان</div>#}
{#                          <div class="fs-5">۳۹,۸۰۰,۰۰۰</div>#}
{#                        </div>#}
{#                      </div>#}
{#                    </div></a></li>#}
{#                <!-- slide-->#}
{#                <li class="swiper-slide h-auto" style="max-width:13rem" role="listitem"><a class="card h-100 rounded-4 px-2 py-4" href=""><img class="card-img-top" src="./img/pages/index/offers/4.jpg"/>#}
{#                    <div class="card-body">#}
{#                      <div class="card-title lh-lg nt-clamp-2">#}
{#                         جاروبرقی روبوراک مدل Q Revo Max V  </div>#}
{#                      <div class="card-text"> </div>#}
{#                    </div>#}
{#                    <div class="card-footer bg-transparent border-0">#}
{#                      <div class="nt-flex-between-center mb-2">#}
{#                        <div class="badge bg-danger text-light rounded-pill">#}
{#                           ۴۱٪</div>#}
{#                        <div class="nt-fw-500 text-body-tertiary nt-flex-start-center gap-1">#}
{#                          <div class="text-decoration-line-through">#}
{#                             ۷۴,۹۰۰,۰۰۰</div>#}
{#                          <div class="small">#}
{#                             تومان</div>#}
{#                        </div>#}
{#                      </div>#}
{#                      <div class="nt-fw-bold" dir="ltr">#}
{#                        <div class="nt-flex-start-center gap-1">#}
{#                          <div class="small">تومان</div>#}
{#                          <div class="fs-5">۱۲۷,۹۸۲,۰۲۰</div>#}
{#                        </div>#}
{#                      </div>#}
{#                    </div></a></li>#}
{#                <!-- slide-->#}
{#                <li class="swiper-slide h-auto" style="max-width:13rem" role="listitem"><a class="card h-100 rounded-4 px-2 py-4" href=""><img class="card-img-top" src="./img/pages/index/offers/5.jpg"/>#}
{#                    <div class="card-body">#}
{#                      <div class="card-title lh-lg nt-clamp-2">#}
{#                         یخچال و فریزر ساید بای ساید 28 فوت ایکس ویژن مدل TS552-AWD/ASD</div>#}
{#                      <div class="card-text"> </div>#}
{#                    </div>#}
{#                    <div class="card-footer bg-transparent border-0">#}
{#                      <div class="nt-flex-between-center mb-2">#}
{#                        <div class="badge bg-danger text-light rounded-pill">#}
{#                           ۶٪</div>#}
{#                        <div class="nt-fw-500 text-body-tertiary nt-flex-start-center gap-1">#}
{#                          <div class="text-decoration-line-through">#}
{#                             ۳۱,۵۰۰,۰۰۰</div>#}
{#                          <div class="small">#}
{#                             تومان</div>#}
{#                        </div>#}
{#                      </div>#}
{#                      <div class="nt-fw-bold" dir="ltr">#}
{#                        <div class="nt-flex-start-center gap-1">#}
{#                          <div class="small">تومان</div>#}
{#                          <div class="fs-5">۳۳,۴۰۰,۰۰۰</div>#}
{#                        </div>#}
{#                      </div>#}
{#                    </div></a></li>#}
{#                <!-- slide-->#}
{#                <li class="swiper-slide h-auto" style="max-width:13rem" role="listitem"><a class="card h-100 rounded-4 px-2 py-4" href=""><img class="card-img-top" src="./img/pages/index/offers/6.jpg"/>#}
{#                    <div class="card-body">#}
{#                      <div class="card-title lh-lg nt-clamp-2">#}
{#                         گوشی موبایل موتورولا مدل Moto G24 دو سیم‌ کارت ظرفیت 128 گیگابایت و رم 8 گیگابایت</div>#}
{#                      <div class="card-text"> </div>#}
{#                    </div>#}
{#                    <div class="card-footer bg-transparent border-0">#}
{#                      <div class="nt-flex-between-center mb-2">#}
{#                        <div class="badge bg-danger text-light rounded-pill">#}
{#                           ۵٪</div>#}
{#                        <div class="nt-fw-500 text-body-tertiary nt-flex-start-center gap-1">#}
{#                          <div class="text-decoration-line-through">#}
{#                             ۵,۹۹۹,۰۰۰</div>#}
{#                          <div class="small">#}
{#                             تومان</div>#}
{#                        </div>#}
{#                      </div>#}
{#                      <div class="nt-fw-bold" dir="ltr">#}
{#                        <div class="nt-flex-start-center gap-1">#}
{#                          <div class="small">تومان</div>#}
{#                          <div class="fs-5">۶,۳۰۰,۰۰۰</div>#}
{#                        </div>#}
{#                      </div>#}
{#                    </div></a></li>#}
{#                <!-- slide-->#}
{#                <li class="swiper-slide h-auto" style="max-width:13rem" role="listitem"><a class="card h-100 rounded-4 px-2 py-4" href=""><img class="card-img-top" src="./img/pages/index/offers/7.jpg"/>#}
{#                    <div class="card-body">#}
{#                      <div class="card-title lh-lg nt-clamp-2">#}
{#                         گوشی موبایل هوآوی مدل nova 10 SE دو سیم کارت ظرفیت 256 گیگابایت و رم 8 گیگابایت</div>#}
{#                      <div class="card-text"> </div>#}
{#                    </div>#}
{#                    <div class="card-footer bg-transparent border-0">#}
{#                      <div class="nt-flex-between-center mb-2">#}
{#                        <div class="badge bg-danger text-light rounded-pill">#}
{#                           ۴٪</div>#}
{#                        <div class="nt-fw-500 text-body-tertiary nt-flex-start-center gap-1">#}
{#                          <div class="text-decoration-line-through">#}
{#                             ۱۳,۱۹۹,۰۰۰</div>#}
{#                          <div class="small">#}
{#                             تومان</div>#}
{#                        </div>#}
{#                      </div>#}
{#                      <div class="nt-fw-bold" dir="ltr">#}
{#                        <div class="nt-flex-start-center gap-1">#}
{#                          <div class="small">تومان</div>#}
{#                          <div class="fs-5">۱۳,۶۹۹,۰۰۰</div>#}
{#                        </div>#}
{#                      </div>#}
{#                    </div></a></li>#}
{#                <!-- slide-->#}
{#                <li class="swiper-slide h-auto" style="max-width:13rem" role="listitem"><a class="card h-100 rounded-4 px-2 py-4" href=""><img class="card-img-top" src="./img/pages/index/offers/8.jpg"/>#}
{#                    <div class="card-body">#}
{#                      <div class="card-title lh-lg nt-clamp-2">#}
{#                         گوشی موبایل آنر مدل X9a دو سیم کارت ظرفیت 256 گیگابایت و رم 8 گیگابایت </div>#}
{#                      <div class="card-text"> </div>#}
{#                    </div>#}
{#                    <div class="card-footer bg-transparent border-0">#}
{#                      <div class="nt-flex-between-center mb-2">#}
{#                        <div class="badge bg-danger text-light rounded-pill">#}
{#                           ۳٪</div>#}
{#                        <div class="nt-fw-500 text-body-tertiary nt-flex-start-center gap-1">#}
{#                          <div class="text-decoration-line-through">#}
{#                             ۱۴,۱۴۹,۰۰۰</div>#}
{#                          <div class="small">#}
{#                             تومان</div>#}
{#                        </div>#}
{#                      </div>#}
{#                      <div class="nt-fw-bold" dir="ltr">#}
{#                        <div class="nt-flex-start-center gap-1">#}
{#                          <div class="small">تومان</div>#}
{#                          <div class="fs-5">۱۴,۵۵۹,۰۰۰</div>#}
{#                        </div>#}
{#                      </div>#}
{#                    </div></a></li>#}
{#                <!-- slide-->#}
{#                <li class="swiper-slide h-auto" style="max-width:13rem" role="listitem"><a class="card h-100 rounded-4 px-2 py-4" href=""><img class="card-img-top" src="./img/pages/index/offers/9.jpg"/>#}
{#                    <div class="card-body">#}
{#                      <div class="card-title lh-lg nt-clamp-2">#}
{#                         گوشی موبایل ناتینگ مدل Phone 2 دو سیم کارت ظرفیت 512 گیگابایت و رم 12 گیگابایت</div>#}
{#                      <div class="card-text"> </div>#}
{#                    </div>#}
{#                    <div class="card-footer bg-transparent border-0">#}
{#                      <div class="nt-flex-between-center mb-2">#}
{#                        <div class="badge bg-danger text-light rounded-pill">#}
{#                           ۲٪</div>#}
{#                        <div class="nt-fw-500 text-body-tertiary nt-flex-start-center gap-1">#}
{#                          <div class="text-decoration-line-through">#}
{#                             ۳۸,۳۹۹,۰۰۰</div>#}
{#                          <div class="small">#}
{#                             تومان</div>#}
{#                        </div>#}
{#                      </div>#}
{#                      <div class="nt-fw-bold" dir="ltr">#}
{#                        <div class="nt-flex-start-center gap-1">#}
{#                          <div class="small">تومان</div>#}
{#                          <div class="fs-5">۳۹,۲۹۹,۰۰۰</div>#}
{#                        </div>#}
{#                      </div>#}
{#                    </div></a></li>#}
{#                <!-- slide-->#}
{#                <li class="swiper-slide h-auto" style="max-width:13rem" role="listitem"><a class="card h-100 rounded-4 px-2 py-4" href=""><img class="card-img-top" src="./img/pages/index/offers/10.jpg"/>#}
{#                    <div class="card-body">#}
{#                      <div class="card-title lh-lg nt-clamp-2">#}
{#                         هدفون بلوتوثی پرووان مدل PHB3222</div>#}
{#                      <div class="card-text"> </div>#}
{#                    </div>#}
{#                    <div class="card-footer bg-transparent border-0">#}
{#                      <div class="nt-flex-between-center mb-2">#}
{#                        <div class="badge bg-danger text-light rounded-pill">#}
{#                           ۴۱٪</div>#}
{#                        <div class="nt-fw-500 text-body-tertiary nt-flex-start-center gap-1">#}
{#                          <div class="text-decoration-line-through">#}
{#                             ۱,۰۹۹,۰۰۰</div>#}
{#                          <div class="small">#}
{#                             تومان</div>#}
{#                        </div>#}
{#                      </div>#}
{#                      <div class="nt-fw-bold" dir="ltr">#}
{#                        <div class="nt-flex-start-center gap-1">#}
{#                          <div class="small">تومان</div>#}
{#                          <div class="fs-5">۱,۸۵۰,۰۰۰</div>#}
{#                        </div>#}
{#                      </div>#}
{#                    </div></a></li>#}
{#                <!-- slide-->#}
{#                <li class="swiper-slide h-auto" style="max-width:13rem" role="listitem"><a class="card h-100 rounded-4 px-2 py-4" href=""><img class="card-img-top" src="./img/pages/index/offers/11.jpg"/>#}
{#                    <div class="card-body">#}
{#                      <div class="card-title lh-lg nt-clamp-2">#}
{#                         هدفون بلوتوثی انکر مدل SoundCore R50i A3949</div>#}
{#                      <div class="card-text"> </div>#}
{#                    </div>#}
{#                    <div class="card-footer bg-transparent border-0">#}
{#                      <div class="nt-flex-between-center mb-2">#}
{#                        <div class="badge bg-danger text-light rounded-pill">#}
{#                           ۱۶٪</div>#}
{#                        <div class="nt-fw-500 text-body-tertiary nt-flex-start-center gap-1">#}
{#                          <div class="text-decoration-line-through">#}
{#                             ۷۸۹,۰۰۰</div>#}
{#                          <div class="small">#}
{#                             تومان</div>#}
{#                        </div>#}
{#                      </div>#}
{#                      <div class="nt-fw-bold" dir="ltr">#}
{#                        <div class="nt-flex-start-center gap-1">#}
{#                          <div class="small">تومان</div>#}
{#                          <div class="fs-5">۹۴۰,۰۰۰</div>#}
{#                        </div>#}
{#                      </div>#}
{#                    </div></a></li>#}
{#                <!-- slide-->#}
{#                <li class="swiper-slide h-auto" style="max-width:13rem" role="listitem"><a class="card h-100 rounded-4 px-2 py-4" href=""><img class="card-img-top" src="./img/pages/index/offers/12.jpg"/>#}
{#                    <div class="card-body">#}
{#                      <div class="card-title lh-lg nt-clamp-2">#}
{#                         لپ تاپ 15.3 اینچی اپل مدل MacBook Air MQKP3 M2 2023</div>#}
{#                      <div class="card-text"> </div>#}
{#                    </div>#}
{#                    <div class="card-footer bg-transparent border-0">#}
{#                      <div class="nt-flex-between-center mb-2">#}
{#                        <div class="badge bg-danger text-light rounded-pill">#}
{#                           ۸٪</div>#}
{#                        <div class="nt-fw-500 text-body-tertiary nt-flex-start-center gap-1">#}
{#                          <div class="text-decoration-line-through">#}
{#                             ۶۷,۰۹۹,۰۰۰</div>#}
{#                          <div class="small">#}
{#                             تومان</div>#}
{#                        </div>#}
{#                      </div>#}
{#                      <div class="nt-fw-bold" dir="ltr">#}
{#                        <div class="nt-flex-start-center gap-1">#}
{#                          <div class="small">تومان</div>#}
{#                          <div class="fs-5">۷۲,۹۸۹,۰۰۰</div>#}
{#                        </div>#}
{#                      </div>#}
{#                    </div></a></li>#}
{#              </ul>#}
{#              <div class="swiper-pagination" aria-label="صفحه‌بندی محصولات" aria-live="polite"></div>#}
{#              <!-- swiper buttons-->#}
{#              <button class="hot-prev" type="button" aria-label="محصول قبلی"></button>#}
{#              <button class="hot-next" type="button" aria-label="محصول بعدی"></button>#}
{#            </div>#}
{#            <!---->#}
{#            <div class="nt-flex-start-center py-2 fs-5 px-2"><a class="btn btn-lg btn-danger" href="">#}
{#                <div class="fs-6 nt-fw-500">مشاهده همه</div><i class="ti ti-chevron-left fs-4" aria-hidden="true"></i></a></div>#}
{#          </div>#}
{#        </section>#}

{% load static %}
<!-- hot sells-->
<section class="container-fluid wrapper mb-5" aria-labelledby="hot-heading">
  <div class="index-offer py-4">
    <div class="index-offer-bg"></div>
    <header class="nt-flex gap-4 p-3">
      <i class="ti ti-percentage display-1 text-light" aria-hidden="true"></i>
      <div class="nt-flex-column gap-4">
        <h2 class="fs-2 nt-fw-500 text-light text-nowrap" id="hot-heading">پیشنهاد شگفت انگیز</h2>
        <div class="nt-flex-start-center flex-nowrap gap-1" id="countdown" dir="ltr" aria-live="polite">
          <span class="visually-hidden">زمان باقی‌مانده</span>
          <!-- days-->
          <time class="nt-flex-center-center rounded nt-fw-500 bg-light text-dark py-1" id="days" style="width: 2.5rem" datetime="P0DT0H0M0S"></time>
          <div class="text-light fs-5 px-2">:</div>
          <time class="nt-flex-center-center rounded nt-fw-500 bg-light text-dark py-1" id="hours" style="width: 2.5rem" datetime="PT0H"></time>
          <div class="text-light fs-5 px-2">:</div>
          <time class="nt-flex-center-center rounded nt-fw-500 bg-light text-dark py-1" id="minutes" style="width: 2.5rem" datetime="PT0M"></time>
          <div class="text-light fs-5 px-2">:</div>
          <time class="nt-flex-center-center rounded nt-fw-500 bg-light text-dark py-1" id="seconds" style="width: 2.5rem" datetime="PT0S"></time>
        </div>
      </div>
    </header>

    <div class="swiper px-5 py-5" data-swiper-options="{ &quot;freeMode&quot;:true, &quot;spaceBetween&quot;:15, &quot;slidesPerView&quot;:&quot;auto&quot; }" style="--swiper-theme-color: var(--bs-dark);" role="region" aria-roledescription="carousel" aria-label="محصولات پیشنهادی">
      <!-- wrapper-->
      <ul class="swiper-wrapper" role="list">

        <!-- slide-->
        <li class="swiper-slide h-auto" style="max-width:13rem" role="listitem">
          <a class="card h-100 rounded-4 px-2 py-4" href="">
            <img class="card-img-top" src="{% static 'img/pages/index/offers/1.jpg' %}" alt=""/>
            <div class="card-body">
              <div class="card-title lh-lg nt-clamp-2">ماشین لباسشویی دوو مدل DWK-UN810C ظرفیت 8 کیلوگرم</div>
              <div class="card-text"></div>
            </div>
            <div class="card-footer bg-transparent border-0">
              <div class="nt-flex-between-center mb-2">
                <div class="badge bg-danger text-light rounded-pill">۲۹٪</div>
                <div class="nt-fw-500 text-body-tertiary nt-flex-start-center gap-1">
                  <div class="text-decoration-line-through">۱۶,۴۹۹,۰۰۰</div>
                  <div class="small">تومان</div>
                </div>
              </div>
              <div class="nt-fw-bold" dir="ltr">
                <div class="nt-flex-start-center gap-1">
                  <div class="small">تومان</div>
                  <div class="fs-5">۲۰,۴۰۰,۰۰۰</div>
                </div>
              </div>
            </div>
          </a>
        </li>

        <!-- slide-->
        <li class="swiper-slide h-auto" style="max-width:13rem" role="listitem">
          <a class="card h-100 rounded-4 px-2 py-4" href="">
            <img class="card-img-top" src="{% static 'img/pages/index/offers/2.jpg' %}" alt=""/>
            <div class="card-body">
              <div class="card-title lh-lg nt-clamp-2">جاروبرقی ایربات مدل L108S Pro Ultra</div>
              <div class="card-text"></div>
            </div>
            <div class="card-footer bg-transparent border-0">
              <div class="nt-flex-between-center mb-2">
                <div class="badge bg-danger text-light rounded-pill">۲۴٪</div>
                <div class="nt-fw-500 text-body-tertiary nt-flex-start-center gap-1">
                  <div class="text-decoration-line-through">۳۹,۹۹۹,۰۰۰</div>
                  <div class="small">تومان</div>
                </div>
              </div>
              <div class="nt-fw-bold" dir="ltr">
                <div class="nt-flex-start-center gap-1">
                  <div class="small">تومان</div>
                  <div class="fs-5">۵۲,۸۲۰,۳۴۰</div>
                </div>
              </div>
            </div>
          </a>
        </li>

        <!-- ... سایر اسلایدها به همین شکل ... -->
        <!-- کافیست مسیر همه img ها را از "./img/..." به {% static 'img/...' %} تغییر دهی -->

      </ul>
      <div class="swiper-pagination" aria-label="صفحه‌بندی محصولات" aria-live="polite"></div>
      <!-- swiper buttons-->
      <button class="hot-prev" type="button" aria-label="محصول قبلی"></button>
      <button class="hot-next" type="button" aria-label="محصول بعدی"></button>
    </div>

    <div class="nt-flex-start-center py-2 fs-5 px-2">
      <a class="btn btn-lg btn-danger" href="">
        <div class="fs-6 nt-fw-500">مشاهده همه</div>
        <i class="ti ti-chevron-left fs-4" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</section>
